.about-us-grid
{
    /* margin: 64px 0px; */
}
.quick-to-install
{
    margin-top: 64px;
}
.about-us-subheading
{
    display: block;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 600;
}
.get-started-now-button
{
    width: 100%;
    max-width: 500px;
    height: 50px;
    padding: 15px 25px;
    color: white;
    font-weight: bold;
    text-align: center;
    border-radius: 4px;
}